@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  background-image: url(../img/background1.jpeg);
  background-size: cover;
	font-family: 'Roboto', sans-serif;
	position:relative;
}

body::before {
	content:'';
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position:absolute;
	background-image: url(../img/background1.jpeg);
  background-size: cover;
	display:block;
	z-index:0;
	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

h1.title {
	font-size:4em;
	font-weight:300;
	color:#FFF;
	margin-bottom:1em;
	text-shadow: 0px 1px 2px black;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Yep! */
  width: 48%;
  height: 59%;
}

.progress {
	margin: 0 !important;
}
